.card {
  background: #000;
  color: white;
  width: 560px;
  margin: 0 auto;
  padding: 20px;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

/* between too marge it's the greater who win */
.links {
  margin-top: 40px;
  margin-bottom: 0;
}

strong {
  background: yellow;
  color: black;
  /* margin-top &  width & height don't work  but padding work*/
  padding-top: 10px;
}

/* global span color */
span {
  color: orange;
}

/* take the advantage on the main setting */
.truc {
  color: magenta;
}
