.grid {
  display: grid;
  grid-template-columns: 150px 150px 200px;

  justify-items: stretch;
}

.grid-item {
  background: #b823c1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  padding: 3em 2em;
  background: #ff5670;
}

/* use center, start and end to set position of the block */

/* .start {
  align-self: start;
  justify-self: start;
} */

/* .start {
  align-self: center;
  justify-self: start;
} */

.start {
  align-self: center;
  justify-self: end;
}
