.grid {
  display: grid;
  /* define grid */
  /* grid-template: 100px 100px 100px / 200px 200px 200px; */
  grid-template: 200px 200px 200px / 100px 100px 100px;
  /* 
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 100px 100px 100px;
   */
}
/*
It's possible to use negative value that's work like a mirror
*/
.grid-item {
  background: #b823c1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  background: #b823c1;
  /* grid-row: 1 / 3; */
  /* grid-row: 1 / 3;
  grid-column: 1 / 4; */
  grid-column: 1 / span 3;
}

.two {
  background: #ff5670;
  grid-column-start: 2;
  grid-column-end: 4;
  /* grid-column: 2 / 4; */

  grid-row-start: 2;
  grid-row-end: 3;
  /* grid-row: 2 / 3; */
}
